/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Mulish:wght@400;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid tomato;
    min-height: 200px;

}

.primary-btn {
    font-size: 1.25rem;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    height: 52px;
    border: none;
}

.primary-text {
    color: #5A5A5D;
    font-family: 'Mulish';
    font-weight: 400;
}

.primary-title {
    color: #131318;
    font-family: 'Mulish';
    font-size: 40px;
    font-weight: 800;
}

/* header section styles */
header {
    padding: 52px 135px 100px;
}

/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;

}

.logo-section {
    display: flex;
    align-items: center;
    width: 47%;
    /* border: 1px solid blueviolet; */
    align-items: center;
    gap: 1.04rem;
}

.logo-section .logo {
    width: 48px;
}

.logo-section h1 {
    color: #131318;
    font-family: 'Mulish';
    font-size: 2.25rem;
    font-weight: 800;
}

.logo-section h1 span {
    color: #FF5400;
    font-family: 'Mulish';
    font-size: 2.25rem;
    font-weight: 800;
}

.menubar-section {
    width: 47%;
    /* border: 1px solid black; */

}

.menubar-section ul {
    display: flex;
    gap: 2.75rem;
    justify-content: right;
    align-items: center;
}

.menubar-section li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: 'Mulish';
    font-size: 1.125rem;
    font-weight: 400;
}

.menubar-section .home {
    color: #FF5400;
    font-weight: 700;
}

/* banner section styles */
.banner-section {
    background: linear-gradient(180deg,
            rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)100%),
        url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat;
    background-size: 100%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 106px 0;

}

.banner-details h1 {
    color: #FFF;
    font-family: 'Mulish';
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-details p {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 676px;
    margin-top: 24px;
}

.banner-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 800px;
    min-height: 84px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    gap: 24px;
    margin-top: 48px;
}

.banner-form input {
    border: none;
    background-color: transparent;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.banner-form .select input {
    width: 80%;
}

.banner-form .input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    align-items: center;

}

.banner-form .input img {
    height: 24px;
    width: 24px;
    margin-right: 14px;
}

.banner-form .find-now {
    font-size: 1rem;
    font-weight: 700;
    width: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* main section styles */
main {
    padding: 0 135px;
}

/* Our Popular Tours section styles */
.tours-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.tours-section p {
    font-weight: 1.625rem;
    margin-top: 15px;
}

.tours-section li {
    line-height: 1.625rem;
    margin-left: 20px;
    margin-top: 15px;
}


.tours-img,
.tours-details {
    max-width: 48%;
}

.tours-img img {
    width: 100%;
}

.read-more {
    margin-top: 32px;
    width: 174px;
    height: 52px;
}

/* Choose Your Destination section styles */


.destination-details {
    text-align: center;
}

.destination-details p {
    margin: 24px 300px 48px;
}

.destination-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}



.destination-img .image1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image1.png') no-repeat;
    grid-column: 1/span 6;
}

.destination-img .image2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image2.png') no-repeat ;

    grid-column: 7/span 6;
}

.destination-img .image3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image3.png') no-repeat ;
    grid-column: 1/span 4;
}

.destination-img .image4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image4.png') no-repeat;
    grid-column: 5/span 5;

}

.destination-img .image5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image5.png') no-repeat ;
    grid-column: 10/span 3;

}

.destination-img .image6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image6.png') no-repeat;
    grid-column: 1/span 5;

}


.destination-img .image7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/image7.png') no-repeat ;
    grid-column: 6/span 7;

}

.destination-img div {
    min-height: 288px;
    /* background-repeat: no-repeat; */
}







@media screen and (max-width: 600px) {

    .banner-form,
    nav,
    .tours-section {

        flex-direction: column;
        margin-bottom: 24px;
    }

    nav>.menubar-section ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;

    }

    header,
    main {
        padding: 0 20px;
    }

    .logo-section,
    .menubar-section {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .banner-section {
        background: linear-gradient(180deg,
                rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)100%),
            url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 600px;
        padding: 35px 15px;
    }

    .banner-details h1 {
        font-size: 2.5rem;
    }

    .banner-form,
    .tours-img,
    .tours-details {
        min-width: 100%;
        height: 100%;
    }

    .banner-form .input,
    .banner-form .find-now {
        min-width: 100%;

    }

    .tours-img,
    .tours-details {
        margin-top: 24px;
    }
}